 
 body {
  font-family: Arial, Helvetica, sans-serif;
   }

/* Style the header */
header {
  background-color: rgb(248, 197, 58);
  padding: 5px;
  text-align: center;
  font-size: 35px;
  text-align: center;
  color: rgb(95, 57, 1);
}

nav {
  background-color: rgb(243, 183, 30);
  padding: 10px;
  text-align: left ;
  width: 98.5%;
  height: top;
   }

div {
  background-color: rgb(231, 172, 21);
  padding: 10px;
  text-align: left ;
  width: 50%;
  height: top;
}

aside{
  background-color: rgb(151, 111, 10);
  padding: 10px;
  float: right;
  text-align: left ;
  width: 45%;
  height: top;
  color: white;
  border-style: inset;
  border-width: 15px; 
  column-count: 2;
}

article {
  background-color: rgb(151, 111, 10);
  text-align: left ;
  width: 49%;
  padding: 15px;
  column-count: 2;
}

.Contemporary {
   width: 100%;
   }

footer {
  background-color: rgb(151, 111, 10);
  text-align: center ;
  color: white;
  width: 100%;
}
